body {
  margin: auto;
  width: 50%;
  background-color: lightgrey;
  background: linear-gradient(center, white);
  background-size: 50% 100%;
  background-position: center;
  border: 3px solid black;
  padding: 10px;
}
h1 {
  background-color: lightblue;
  color: black;
  text-align: left; 
  font: Palatino, serif; 
  margin-bottom: 5px;
  bottom-border: 3px solid black;
}
h2 {
  background-color: lightblue;
  font: Palatino, serif; 
  margin-bottom: 5px;
  bottom-border: 3px solid black;
}
h4 {
  margin-bottom: 5px;
}
p {
  margin: 5px;
}
